<section class="content-header">
  <h1>
    Vagas
    <small>Listagem de Vagas</small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']"><i class="fa fa-keyboard-o"></i> Cadastros</a></li>
    <li class="active">Vagas</li>
  </ol>
</section>

<div class="box">
  <div class="box-header">
    <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
    <button class="btn btn-primary" [routerLink]="'/cadastros/vagas_crud'">Novo registro</button>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Número</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaga of vagas">
          <td>{{vaga.id}}</td>
          <td>{{vaga.numero}}</td>
          <td>{{vaga.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->