<section class="content-header">
  <h1>
    Operação
    <small>Estacionar Carro</small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']"><i class="fa fa-cogs"></i> Operação</a></li>
    <li class="active">Estacionar</li>
  </ol>
</section>

<div class="box box-default">
  <form (ngSubmit)="onSubmitForm()">
    <div class="box-body">
      <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <label class="control-label" for="numero">Número da Vaga</label>
          <input type="text" class="form-control" id="numero" name="numero" placeholder="Número" disabled
            [(ngModel)]="vagaSelecionada.numero">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <label class="control-label" for="placa">Placa</label>
          <input #ctPlaca type="text" class="form-control" id="placa" name="placa" placeholder="Placa"
            (ngChange)="placaChange(ctPlaca)">
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <label class="control-label" for="placa">Descrição</label>
          <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descrição"
            [(ngModel)]="cliente.descricao" maxlength="100">
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <button type="submit" [disabled]="placaUnmasked.length < 7" class="btn btn-block btn-primary btnSm">Salvar</button>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
          <button type="button" class="btn btn-block btn-danger" (click)="voltar()">Cancelar</button>
        </div>
      </div>
    </div>
  </form>

</div>