<section class="content-header">
  <h1>
    Operação
    <small>Gerenciamento do Estacionamento</small>
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-cogs"></i> Operação</li>
  </ol>
</section>

<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Situação das Vagas: <span style="text-align: center"><small>TOTAL DE VAGAS
              :</small>{{qtdVagas}} | <small>Vagas Disponíveis: </small>{{qtdVagasDisponiveis}}</span></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12" *ngFor="let situacao of vagasSituacoes">
                <a [routerLink]="situacao.vaga.status === 'LIVRE' ? ['/estacionar/'+situacao.vaga.id] : ['/pagar/'+situacao.movimento.id]">
                  <div class="small-box bg-green"
                  [ngClass]="{
                    'bg-green': situacao.vaga.status === 'LIVRE',
                    'bg-red': situacao.vaga.status === 'OCUPADA'
                  }">
                  <div class="inner" >
                    <h3>Vaga {{situacao.vaga.numero}}</h3>
                    <p>{{situacao.vaga.status === 'LIVRE' ? 'LIVRE' : 'PLACA: ' + situacao.movimento.cliente.placa}}</p>
                    <p>{{situacao.vaga.status === 'LIVRE' ? 'ENTRADA: ' : 'ENTRADA: ' + (situacao.movimento.dataEntrada | date:'dd/MM/yyyy hh:mm:ss') }}</p>
                  </div>
                </div>
                </a>
            </div>

          </div>
        </div>
      </form>
    </div>
    <!-- /.box -->
  </div>
</div>