<section class="content-header">
  <h1>
    Operação
    <small>Gerenciamento do Estacionamento</small>
  </h1>
  <ol class="breadcrumb">
    <li><a [routerLink]="['/']"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">Operação</li>
  </ol>
</section>

<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
  <mk-input-group inputErrorColor="warning">
    <mk-input-group-label>Input icons</mk-input-group-label>
    <mk-input-group-addon-left>@</mk-input-group-addon-left>
    <mk-input-group-addon-right><i [ngClass]="userForm.invalid ? 'fa fa-times' : 'fa fa-check'"></i></mk-input-group-addon-right>
    <mk-input-group-content>
      <input mkInputText formControlName="firstName" class="toto form-control"/>
    </mk-input-group-content>
  </mk-input-group>
  <br />
  <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Soumettre</button>
</form> -->


<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Situação das Vagas</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>Vaga 001</h3>

                  <p>{{'&#160;'}}</p>
                </div>
                <!-- <div class="icon">
                  <i class="fa fa-shopping-cart"></i>
                </div> -->
                <!-- <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a> -->
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>Vaga 001</h3>

                  <p>fwfwf</p>
                </div>
                <!-- <div class="icon">
                      <i class="fa fa-shopping-cart"></i>
                    </div> -->
                <!-- <a href="#" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a> -->
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>Vaga 001</h3>

                  <p>{{'&#160;'}}</p>
                </div>
                <!-- <div class="icon">
                    <i class="fa fa-shopping-cart"></i>
                  </div> -->
                <!-- <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                  </a> -->
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>Vaga 001</h3>

                  <p>{{'&#160;'}}</p>
                </div>
                <!-- <div class="icon">
                      <i class="fa fa-shopping-cart"></i>
                    </div> -->
                <!-- <a href="#" class="small-box-footer">
                      More info <i class="fa fa-arrow-circle-right"></i>
                    </a> -->
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>Vaga 001</h3>

                  <p>{{'&#160;'}}</p>
                </div>
                <!-- <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                      </div> -->
                <!-- <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                      </a> -->
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
                <div class="small-box bg-red">
                  <div class="inner">
                    <h3>Vaga 001</h3>
  
                    <p>fwfwf</p>
                  </div>
                  <!-- <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                      </div> -->
                  <!-- <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                      </a> -->
                </div>
              </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>Vaga 001</h3>

                  <p>{{'&#160;'}}</p>
                </div>
                <!-- <div class="icon">
                          <i class="fa fa-shopping-cart"></i>
                        </div> -->
                <!-- <a href="#" class="small-box-footer">
                          More info <i class="fa fa-arrow-circle-right"></i>
                        </a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <!-- /.box -->
  </div>
</div>